.main-title
{
margin-top: 8px;
}

.main-btn
{
    width: 100%;
    margin-top: 16px;
}

.main-footer{
    position: fixed;
    
    padding-top: 4px;
    padding-bottom: 4px;
    width: 100%;
    left: 0px;
    bottom: 0px;
}

.espaco_grafico{
   width: 80%;
   margin-left: auto ;
   margin-right: auto ;
   /* float:left;*/
}

.main-plot-1{

    
}

#configura_graficos{
    width: 500px;
    margin-left: auto ;
   margin-right: auto ;
}

/*
#configura_range{
    width: 500px;
    margin-left: auto ;
   margin-right: auto ;
}*/

#tudo{
    margin-left: auto;
    margin-right: auto; 
}

#MenuLateral{
    background-color: #00DFDF;
    border: 1px;
    border-style:outset;
}

#Corpo{
    background-color: #FEFEFE;
}

.rodape{
    background-color: #FFFFFF;
}

body{
    background-color: #F5F5F5;
	/*background-image: url(fundo.jpg);*/
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}

canvas{
    width: 50%;
}